@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container{
  width: 1140px;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

body {
  font-family: 'Heebo', sans-serif;
}

nav {
  padding: 27px 0px;
}

nav .navbar ul {
  display: flex;
  gap: 33px;

}

.left{
  width: 500px;
}

.right{
  margin-left: 300px;
}

nav .navbar ul li a {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

header {
  padding-top: 100px;
}

.personal_info {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  color: #21243d;
}

.info_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #21243d;
  margin-top: 40px;
  margin-bottom: 30px;
}

.btn_text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  padding: 10px 21px;
  border: none;
  background: #ff6464;
  border-radius: 2px;
}

.user_pic {
  border-radius: 150px;
  width: 243px;
  height: 243px;
}

/* ================ main started ================== */

.first_section {
  background: #edf7fa;
  margin-top: 71px;
  padding-bottom: 32px;
}

.all{
align-items: center;
justify-content: space-between;
}

.cards{
  display: flex;
  gap: 285px;
}

.recommendation {
  width: 153px;
}

.post_info {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  display: flex;
  align-items: flex-end;
  color: #21243d;
  margin-top: 27px;
}

.all_info {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #00a8cc;
  margin-top: 27px;
  cursor: pointer;
  margin-left: 73px;
}

.design_system {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  width: 418px;
  padding: 24px 21px 23px 23px;
}

.design_system h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #21243d;
  margin-bottom: 17px;
}

.design_system .data,
.name_field {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #21243d;
}

.line {
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #000000;
  margin: 0px 26px;
}

/* .data::after{
    content: " ";
    background-color: #000000;
    height: 21px;
    width: 0px;
    margin: 0px 26px;
} */

.design_system p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #21243d;
  margin-top: 11px;
}

.featured {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #21243d;
  margin-top: 30px;
}

.types_of_design {
  display: flex;
  gap: 18px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 15px;
  padding-top: 25px;
}

.d_text {
  width: 594px;
}

.pic {
  padding-top: 10px;
  width: 246px;
}

.d_text h3 {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: #21243d;
  margin-bottom: 13px;
}

.d_text .numb {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 60px;
  background: #142850;
  border-radius: 16px;
  padding: 5px 15px;
  color: #ffffff;
}

.d_name {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #8695a4;
  margin-left: 26px;
}

.d_text p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
  margin-top: 12px;
}

.social_networks {
  display: flex;
  gap: 35px;
  width: 250px;
  margin: auto;
  margin-top: 134px;
}

.social_networks i {
  font-size: 45px;
  color: #21243d;
  cursor: pointer;
}

.f_text {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: #21243d;
  margin-top: 26px;
  margin-bottom: 54px;
  display: flex;
  justify-content: center;
  margin-left: 39px;
}

.media{
  display: none;
}

/* @media (max-width: 576px){

.container{
  width: 576px;
  margin: 0 auto;
}

.navbar{
  margin-left: 340px;
}


.social_networks{
  margin-right: 187px;

}

.f_text{
  margin-right: 69px;
}


.media{
  display: block;
  width: 243px;
  margin: auto;
}


.right{
  display: none;
}

.personal_info {
  font-size: 32px;
  text-align: center;
  margin: auto;
}

.info_text {
  text-align: center;
}

.btn_text{
  width: 222px;
  margin-left: 135px;
}

.left {
  width: 500px;
  margin: auto;
}

.all_info{
  display: none;
}

.recommendation {
  width: 153px;
  margin-left: 200px;
}

.types_of_design{
  display: none;
}

.one_ca{
  display: block;
  display: flex;
  flex-wrap: wrap;
  width: 339px;
  margin: auto;
}

.one_ca .pic img{
  width: 339px;
}


.cards {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.social_networks{
margin-top: 222px;
}

.featured{
  width: 170px;
  margin: auto;
  margin-top: 30px;
}

} */
@media (max-width: 567px){

.container{
  width: 100%;
  margin: 0 auto;
}

.navbar {
  margin-left: 130px;
}


.social_networks{
  margin-right: 70px;

}

.f_text{
  margin-right: 65px;
}


.media{
  display: block;
  width: 243px;
  margin: auto;
}


.right{
  display: none;
}

.personal_info {
  font-size: 32px;
  text-align: center;
  margin: auto;
}

.info_text {
  text-align: center;
}

.btn_text{
  width: 222px;
  margin-left: 72px;
}

.left {
  width: 500px;
  margin: auto;
}

.all_info{
  display: none;
}

.recommendation {
  width: 153px;
  margin-left: 125px;
}

.design_system{
  width: 362px;
}

.types_of_design{
  display: none;
}

.one_ca{
  display: block;
  display: flex;
  flex-wrap: wrap;
  width: 339px;
  margin: auto;
}

.one_ca .pic img{
  width: 339px;
}


.cards {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.social_networks{
margin-top: 222px;
}

.featured{
  width: 170px;
  margin: auto;
  margin-top: 30px;
}

}